.container{
    max-width: 40%;
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 10px;
    background-color:#48606E;
    padding-bottom: 2cm;
}
input{
    width: 100%;
    padding-top: 5px;
}
#btn{
    background-color: #BFD0D8;
    width: 100%;
}
.formContainer{
    padding-top: 0.8cm;
}
label{
    font-size: 0.5cm;
}
.formButton{
    padding-top: 1.2cm; 
}
body{
    background-color: #22282B;
}
